.container {
  display: flex;
  flex-direction: column;
  border: thin solid var(--border-color);
  padding: 0.75rem;
  font-size: var(--font-size-md);
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.icon {
  display: none;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.container:hover {
  background-color: var(--main-hover-bg-color);
  border: thin solid var(--main-hover-bg-color);
}

@media (min-width: 1280px) {
  .container {
    font-size: medium;
    padding: 1rem 1rem 1.75rem;
  }

  .icon {
    display: block;
  }
}
