.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: xx-large;
}

.text {
  margin-top: 1rem;
  color: var(--secondary-text-color);
}
