.container {
  background-color: var(--section-bg-color);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: var(--secondary-box-shadow);
}

.input {
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
}

.footer {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  color: var(--secondary-text-color);
}

.submit {
  background-color: var(--color-primary);
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.submit:disabled {
  background-color: slategray;
}
