.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.icon {
  width: 500px;
  height: 500px;
}

.p {
  font-size: 100px;
  color: blue;
  color: rgb(153, 102, 250);
}
